<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://apis.kurious.rw/assets/css/invitation_email.css">
</head>

<body>
    <div class="logo">
        <img src="https://apis.kurious.rw/assets/images/image%204.png" alt="">
    </div>
    <div class="flex">
        <div class="">
            <div class="content">
                <div class="message">
                    Rubangura egide invited you in RCA,<br>
                    on Kurious learn! <br>
                    Please click the button below to finish setting up
                    your account.
                </div>
                <div class="text-center">
                    <a href="https://learn.kurious.rw/signup?token=5146142c-5a95-11eb-ae93-0242ac130002" target="_blank"
                        rel="noopener noreferrer">
                        <button class="confirm">
                            CONFIRM
                        </button>
                    </a>
                </div>
                <div class="thanks">
                    Thanks,
                    Kurious learn team
                </div>
            </div>
            <div class="footer">
                <a href="https://twitter.com/kuriouslearnRw" target="_blank" rel="noopener noreferrer">
                    <img class="ig_icon" src="http://localhost:7075/assets/images/ig.svg" alt="">
                    </a>
                <a href="https://kurious.rw" target="_blank" rel="noopener noreferrer">
                    <img class="fb_icon" src="http://localhost:7075/assets/images/fb.svg" alt="">
                </a>
                <a href="https://kurious.rw" target="_blank" rel="noopener noreferrer">
                    <img class="twitter_icon" src="http://localhost:7075/assets/images/twitter.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</body>

</html>