<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
    </style>
</head>

<body style="margin: 0; background-color: #ececec">
<div class="logo" style="text-align: center; margin: 25px auto">
    <a href="https://kurious.rw"><img src="https://apis.kurious.rw/assets/images/logo.png" alt="" /></a>
</div>
<div
        class="flex"
>
    <div class="">
        <div
                class="content"
                style="
                background-color: white;
                padding: 49px 39px 0;
                border-top: 3px solid #193074;
                margin: auto;
                min-height: 340px;
                max-width: 522px;
                border-radius: 0px;
                align-self: center;
              "
        >
            <div
                    class="message"
                    style="
                  font-family: 'Inter', sans-serif;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: 0em;
                  text-align: left;
                  min-height: 96px;
                  width: 379px;
                  left: 39px;
                  top: 99px;
                "
            >
                ${inviter} invited you in ${institution.name} - ${user_group},<br />
                on Kurious learn! Please click the button below to finish setting up
                your account.
            </div>
            <div class="text-center" style="text-align: center">
                <a
                        href="https://kurious.rw/auth/register?token=${token}"
                        target="_blank"
                        rel="noopener noreferrer"
                >
                    <button
                            class="confirm"
                            style="
                      height: 54px;
                      width: 172px;
                      left: 0px;
                      top: 0px;
                      border-radius: 10px;
                      background: #193074;
                      color: white;
                      border: none;
                      text-align: center;
                      margin: 20px auto 0px;
                      cursor: pointer;
                    "
                            onfocus="this.style.outline='none'"
                    >
                        CONFIRM
                    </button>
                </a>
            </div>
            <div
                    class="thanks"
                    style="
                  font-family: 'Inter', sans-serif;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: 0em;
                  text-align: left;
                  margin: 50px 0;
                  height: 60px;
                  width: 126px;
                  left: 39px;
                  top: 328px;
                "
            >
                Thanks,
                <br> Kurious learn team
            </div>
        </div>
        <div
                class="footer"
                style="
                height: 66px;
                left: 0px;
                top: 476px;
                max-width: 600px;
                margin: auto;
                border-radius: 0px;
                background: #193074;
              "
        >
            <a
                    href="https://twitter.com/kuriouslearnRw"
                    target="_blank"
                    rel="noopener noreferrer"
            >
                <img
                        class="ig_icon"
                        style="
                    height: 20px;
                    width: 20px;
                    left: 41px;
                    top: 499px;
                    border-radius: 0px;
                    margin: 24px 12px;
                  "
                        src="https://apis.kurious.rw/assets/images/ig.png"
                        alt=""
                />
            </a>
            <a
                    href="https://kurious.rw"
                    target="_blank"
                    rel="noopener noreferrer"
            >
                <img
                        class="fb_icon"
                        style="
                    height: 20px;
                    width: 11px;
                    left: 87px;
                    top: 499px;
                    border-radius: 0px;
                    margin: 24px 12px;
                  "
                        src="https://apis.kurious.rw/assets/images/fb.png"
                        alt=""
                />
            </a>
            <a
                    href="https://kurious.rw"
                    target="_blank"
                    rel="noopener noreferrer"
            >
                <img
                        class="twitter_icon"
                        style="left: 87px; margin: 24px 12px"
                        src="https://apis.kurious.rw/assets/images/twitter.png"
                        alt=""
                />
            </a>
        </div>
    </div>
</div>
</body>
</html>